<div class="row">
  <div class="col s12">  
    <%= form_tag "/search" do %>  
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :zipcode %>
          <%= label_tag :zipcode %>
        </div>
      </div>
      <div class="row">
        <%= submit_tag "Search!", class: "btn waves-effect waves-light" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <% if @error %>
      <p><%= @error %></p>
    <% elsif @venues %>
      <ul>
        <% @venues.each do |venue| %>
          <li>
            <%= venue["name"] %><br>
            <%= venue["location"]["address"] %><br>
            Checkins: <%= venue["stats"]["checkinsCount"] %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>